.listPost {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0 0;
  padding: 0 0;
  list-style: none;
}

.containerList {
  padding: 20px 20px;
}

.titlePost {
  margin: 0 0;
  font-family: "Roboto";
  font-size: 21px;
}

.listItem {
  width: 300px;
  padding: 10px 10px;
  background-color: rgb(240, 233, 233);
}

.listItem > p {
  font-family: "Roboto";
  line-height: 1.2;
  letter-spacing: 0.03em;
  font-size: 16px;
}

.listItem:not(:last-child) {
  margin-bottom: 15px;
}

.listItem:hover {
  box-shadow: 2px 2px 12px -2px rgba(0, 0, 0, 0.53);
}

.containerButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttonList {
  padding: 5px 15px;
  border-radius: 10px;
  font-family: "Roboto";
  line-height: 1.2;
  letter-spacing: 0.09em;
  font-size: 14px;
  cursor: pointer;
  background-color: inherit;
  border: 0.5px solid red;
}

.buttonList:hover {
  background-color: rgb(219, 46, 15);
  color: white;
}

.buttonListChange {
  border: 0.5px solid rgb(23, 82, 28);
  padding: 5px 15px;
  border-radius: 10px;
  font-family: "Roboto";
  line-height: 1.2;
  letter-spacing: 0.09em;
  font-size: 14px;
  cursor: pointer;
  background-color: inherit;
}

.buttonListChange:hover {
  background-color: rgb(161, 233, 44);
}
